<div class="container">
  <div class="row">
    <div class="col-md-5">
     {{> tasks/taskForm}}
    </div>
    <div class="col-md-7">
     {{> tasks/taskTable}}
    </div>
  </div>
  <hr class="my-4">
  <div class="alert alert-dismissible alert-info">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <h4 class="alert-heading">Checklist App!</h4>
  <p class="mb-0">BWelcome to Free Checklist Maker, it's an online app based on Node and MongoDB created and deployed by Russ Madrigal, a Technical SEO.

If you land on this Web, please consider that it has to be used for testing only. As mentioned, it's a portfolio App only, so I don't want to spend Let's Encrypt resources by installing SSL.</p>
</div>
</div>

